@inherits LayoutComponentBase

<PageTitle>BlazorAppWithAuth</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />

        
    </div>

    <main>
        <div class="top-row px-4 auth">
            <div class="float-left">
                <a type="button" class="btn btn-primary" href="https://github.com/dneimke/BlazorAppWithAuth" target="_blank">
                    <img src="/GitHub-Mark-32px.png" /> View code
                </a>
            </div>

            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
