@page "/"
@using BlazorAppWithAuth.Services
@inject WrapperService _wrapperService


<PageTitle>Index</PageTitle>

<h1>Testing dependencies</h1>

<div class="my-4">
	<button @onclick="HandleClick">Call Service</button>
</div>

<hr />

@if(_results.Any()) 
{
	<p class="bg-info p-4 mb-5">
		<ul>
			@foreach(var result in _results)
			{
				<li>Result: @result</li>
			}
		</ul>
		
	</p>
}

@if(!string.IsNullOrEmpty(_error))
{
	<p class="bg-warning text-danger p-4">
		@_error
	</p>
}


@code 
{
	string _error { get; set; } = "";
	public List<string> _results { get; set; } = new();


	void HandleClick()
	{
		try
		{
			var result = _wrapperService.UserHasSpecialAccess();
			_results.Add($"HandleClick1 -> {result}"); 	
		}
		catch (Exception ex)
		{
			_error = ex.ToString();
		}

	}
}
